
/* .svg-container {
    border: 2px dashed #000;
    background-color: rgb(161, 157, 157);
} */


.service {
    fill:#065143;
}

.database {
    fill:#4E7F64;
}

.communicationpattern {
    fill:#97CAA1;
}

.text-name {
    stroke: rgb(0, 0, 0); 
    fill: rgb(0, 0, 0);
}

.link {
    stroke-width: 4;
    stroke: rgb(0, 0, 0);
}

.my-button {
    margin: 0px 3px 0px 3px; 
    height: 20%
}