<div class="svg-container">

<p-splitButton [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" label="Load examples"  (onClick)="save()" [model]="examples"></p-splitButton>

<h3>Name of the app</h3>
<span class="ui-float-label">
    <div class="ui-inputgroup">
        <input type="text" pInputText placeholder="Keyword"  [(ngModel)]="name">   
        <button pButton type="button" icon="pi pi-check"  (click)="saveName()" class="ui-button-warn"></button>      
    </div>
</span>

<h3>Nodes</h3>
    <!-- service  -->
    <div class="p-grid p-justify-between">
        <div class="p-md-2 p-col-align-center">
            <svg width="25" height="25">
                <svg:circle
                    class="service"
                    cx="13"
                    cy="13"
                    r="10" >
                </svg:circle>
            </svg>
        </div>
        <div class="p-md-6 p-col-align-center">Service</div>
        <div class="p-md-4 p-col-align-center"> 
            <button pButton icon="pi pi-plus" type="button" class="ui-button-success my-button" (click)="addService()"></button>
            <button pButton icon="pi pi-trash" type="button" class="ui-button-danger" (click)="removeServices()"></button>
        </div>
    </div>

    <!-- database -->
    <div class="p-grid p-justify-between">
            <div class="p-md-2 p-col-align-center">
                <svg width="25" height="25">
                    <svg:rect
                        class="database"
                        x="5"
                        y="5"
                        width="20" 
                        height="20" >
                    </svg:rect>
                </svg>
            </div>
            <div class="p-md-6 p-col-align-center">Database</div>
            <div class="p-md-4 p-col-align-center"> 
                <button pButton icon="pi pi-plus" type="button" class="ui-button-success my-button" (click)="addDatabase()"></button>
                <button pButton icon="pi pi-trash" type="button" class="ui-button-danger" (click)="removeDatabases()"></button>
            </div>
    </div>

    <!-- Communication patterns -->
    <div class="p-grid p-justify-between">
            <div class="p-md-2 p-col-align-center">
                <svg width="25" height="25">
                    <svg:rect 
                        x="5"
                        y="5"
                        width="20" 
                        height="20" 
                        class="communicationpattern">
                    </svg:rect> 
                </svg>
            </div>
            <div class="p-md-6 p-col-align-center">Communication Pattern</div>
            <div class="p-md-4 p-col-align-center"> 
                <button pButton icon="pi pi-plus" type="button" class="ui-button-success my-button" (click)="addCommunicationPattern()"></button>
                <button pButton icon="pi pi-trash" type="button" class="ui-button-danger" (click)="removeCommunicationPatterns()"></button>
            </div>
    </div>

<h3>Interactions</h3>
    <!-- deploymenttimelink -->
    <div class="p-grid p-justify-between">
            <div class="p-md-2 p-col-align-center">
                <svg width="30" height="25">
                    <svg:defs>
                            <svg:marker id="markerArrow" viewBox="0 -5 10 10"
                                    refX="6" 
                                    markerUnits="strokeWidth"
                                    markerWidth="2.5" markerHeight="2.5"
                                    orient="auto">
                            <svg:path d="M0,-5L10,0L0,5" fill="#000000"/>
                            </svg:marker>
                    </svg:defs>
                    <svg:line
                        class="link"
                        stroke-dasharray="4,4" 
                        x1="0"
                        y1="10"
                        x2="25"
                        y2="10"
                        marker-end="url(#markerArrow)">
                        </svg:line>
                </svg>
            </div>
            <div class="p-md-6 p-col-align-center">Deployment-time Interaction</div>
            <div class="p-md-4 p-col-align-center"> 
                <button pButton icon="pi pi-plus" type="button" class="ui-button-success my-button" (click)="addDeploymentTimeInteraction()"></button>
                <!-- <button pButton icon="pi pi-trash" type="button" class="ui-button-danger" (click)="removeLink(deploymenttimelink)"></button> -->
            </div>
    </div>

    <!-- runtime link -->
    <div class="p-grid p-justify-between">
            <div class="p-md-2 p-col-align-center">
                <svg width="30" height="25">
                    <svg:defs>
                            <svg:marker id="markerArrow" viewBox="0 -5 10 10"
                                    refX="6" 
                                    markerUnits="strokeWidth"
                                    markerWidth="2.5" markerHeight="2.5"
                                    orient="auto">
                                <svg:path d="M0,-5L10,0L0,5" fill="#000000"/>
                            </svg:marker>
                    </svg:defs>
                    <svg:line
                        class="link"
                        x1="0"
                        y1="10"
                        x2="25"
                        y2="10"
                        marker-end="url(#markerArrow)">
                    </svg:line>
                </svg>
            </div>
            <div class="p-md-6 p-col-align-center">Run-time Interaction</div>
            <div class="p-md-4 p-col-align-center"> 
                <button pButton icon="pi pi-plus" type="button" class="ui-button-success my-button" (click)="addRunTimeInteraction()"></button>
                <!-- <button pButton icon="pi pi-trash" type="button" class="ui-button-danger" (click)="removeLink(runtimelink)"></button> -->
            </div>
    </div>
    
    <!-- <button cslass="ui-button-success" pButton type="button" (click)="applyLayout()" label="Layout" icon="pi pi-sitemap"></button> -->
    <p-splitButton [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" label="Layout" icon="pi pi-sitemap" (onClick)="save()" [model]="items"></p-splitButton>

    <p-splitButton [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" label="Layout" icon="pi pi-sitemap" (onClick)="save()" [model]="items"></p-splitButton>
</div>