<div class="p-grid sample-layout">

    <div class="p-col-12">
            MicroTosca
    </div>
    <!-- menu sidebasr -->
    <div class="p-col-12 p-md-4">
        <app-menu> </app-menu>
    </div>

    <div class="p-col-12 p-md-8 p-col-nogutter">
        <!-- <app-graph-editor></app-graph-editor>  -->
        <app-graph-editor></app-graph-editor> 

    </div>
    <p-sidebar [(visible)]="display" position="right">

         <button type="button" pButton (click)="upload()" icon="pi pi-upload" label="Upload" class="ui-button-success"></button>
         <button type="button" pButton (click)="download()" icon="pi pi-download" label="Download" class="ui-button-warning"></button>

    </p-sidebar>
        
    <div class="p-col-12">
        Footer

        <button pButton type="button" (click)="display = true" icon="pi pi-arrow-right"></button>
    </div>
</div> 

