<div class="p-grid sample-layout">

    <div class="p-col-12">
            MicroTosca
    </div>
    <!-- menu sidebasr -->
    <div class="p-col-12 p-md-4">
        <app-menu> </app-menu>
    </div>

    <div class="p-col-12 p-md-8 p-col-nogutter">
        <!-- <app-graph-editor></app-graph-editor>  -->
        <p-messages [(value)]="msgs"></p-messages>
        <app-graph-editor></app-graph-editor> 

    </div>
    <p-sidebar [(visible)]="display" position="right">
            <div class="p-grid p-align-center">
                <div class="p-col">
                  <button cslass="ui-button-success" pButton type="button" (click)="upload()" label="Save" icon="pi pi-save"></button>
                </div>
            </div>


            <div class="p-grid p-align-end">
                <div class="p-col">
                    <p-fileUpload mode="basic" 
                                    name="graph" 
                                    url="http://127.0.0.1:8000/graph/import/" 
                                    accept=".json"
                                    (onUpload)="onUpload($event)"
                                    chooseLabel="Import">
                    </p-fileUpload>

                </div> 

                <div class="p-col">
                   <a pButton href="http://127.0.0.1:8000/graph/export/" style="width: 100px"  label="Export" icon="pi pi-download" class="ui-button-warning"></a>
                </div>
            </div>

    </p-sidebar>
        
    <div class="p-col-12">
        Footer

        <button pButton type="button" (click)="display = true" icon="pi pi-arrow-right"></button>
    </div>
</div> 

