<p-toggleButton
    offIcon="pi pi-fw pi-external-link"
    onIcon="pi pi-fw pi-external-link"
    pTooltip="Show dependencies" showDelay="1000" tooltipPosition="bottom"
    styleClass="p-button-text"
    [(ngModel)]="showDependencies"
    (onChange)="toggleViewDependencies()">
</p-toggleButton>

<p-toggleButton
    onIcon="pi pi-fw pi-sign-in"
    offIcon="pi pi-fw pi-sign-in"
    pTooltip="Show users" showDelay="1000" tooltipPosition="bottom"
    styleClass="p-button-text p-button-lg">
</p-toggleButton>