

<div class="p-grid">
    <div class="p-col">Nome</div>
    <div class="p-col"><input  [(ngModel)]="name" type="text" pInputText /></div>
    <div class="p-col"><button pButton icon="pi pi-check" (click)="newNode(name)">Salva</button></div>
</div>

<button pButton icon="pi pi-check"  iconPos="right"(click)="newNode(name)">Salva</button>


<div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <label for="name">Name: </label>
        <input  [(ngModel)]="name" type="text" pInputText />
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <button pButton icon="pi pi-check" (click)="newNode(name)">Salva</button>
    </div>
</div>