<div class="editor-page-content">

    <app-menu (onSidebarChange)="sidebarChange($event)"></app-menu>

    <app-graph-editor (contextMenuAction)="onContextMenuAction($event)"></app-graph-editor>

    <app-sidebar-incoming-teams *ngIf="sidebar.viewIncomingTeams" class="sidebar"></app-sidebar-incoming-teams>
    <app-sidebar-team-details [(visible)]="sidebar.viewTeamsInfo" [selectedTeam]="selectedTeam" class="sidebar"></app-sidebar-team-details>

</div>

<!-- show the messages in a toast-->
<p-toast [style]="{marginTop: '100px'}"  position="top-right"></p-toast>
