<!-- show the messages in a toast-->
<p-toast [style]="{marginTop: '100px'}"  position="bottom-left"></p-toast>

<div class="editor-page-content">

    <app-menu (onSidebarChange)="onSidebarChange($event)"></app-menu>

    <app-graph-editor (contextMenuAction)="onContextMenuAction($event)"></app-graph-editor>

    <app-sidebar-incoming-teams
        *ngIf="sidebar.viewIncomingTeams"
        [autoZIndex]="false"
        [baseZIndex]="0"
        [modal]="false"
        class="sidebar">
    </app-sidebar-incoming-teams>

    <app-sidebar-team-details
        [(visible)]="sidebar.viewTeamsInfo"
        [(selectedTeam)]="viewTeamsInfoConfig.selectedTeam"
        [list]="viewTeamsInfoConfig.list"
        baseZIndex="10"
        class="sidebar">
    </app-sidebar-team-details>

    <app-sidebar-teams-relations
        [(visible)]="sidebar.viewTeamsRelations"
        baseZIndex="10"
        class="sidebar">
    </app-sidebar-teams-relations>

    <app-sidebar-smell
        [(visible)]="sidebar.viewSmell"
        [(smell)]="selectedSmell"
        baseZIndex="10"
        class="sidebar">
    </app-sidebar-smell>

</div>