.editor-page-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

app-menu {
    width: 100%;
    margin: 0;
    padding: 0;
}

app-graph-editor {
    width: 100%;
    min-height: 50vh;
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
}