<div>

    <p-toolbar>
        <div class="ui-toolbar-group-start">
            
            <p-button styleClass="app-title" [disabled]="true">microFreshener</p-button>

            <div *ngIf="!this.session.isDocumentReady()" class="file-name-buttons">
                <p-button icon="pi pi-fw pi-chevron-down" (click)="fileMenu.toggle($event)"></p-button>
                <p-tieredMenu #fileMenu [model]="fileMenuItems" [popup]="true"></p-tieredMenu>
            </div>

            <div *ngIf="this.session.isDocumentReady()" class="file-name-buttons">
                <p-splitButton *ngIf="!renaming" [label]="modelName=='' ? 'Untitled document' : modelName" styleClass="file-name-button" (onClick)="editName()" [model]="fileMenuItems"></p-splitButton>
                <input #renameInput *ngIf="renaming" type="text" class="file-name-input" pInputText [(ngModel)]="modelName" (focusout)="rename()" (keydown.enter)="rename()">
            </div>
        </div>

        <div class="ui-toolbar-group-center" *ngIf="this.session.isDocumentReady()">

            <div *ngIf="this.session.isAdmin()" class="tool-buttons">
                <app-subtoolbar-view></app-subtoolbar-view>
                <p-divider layout="vertical"></p-divider>
                <app-subtoolbar-architecture></app-subtoolbar-architecture>
                <p-divider layout="vertical"></p-divider>
                <app-subtoolbar-teams></app-subtoolbar-teams>
                <p-divider layout="vertical"></p-divider>
                <app-subtoolbar-undo></app-subtoolbar-undo>
                <p-divider layout="vertical"></p-divider>
                <app-subtoolbar-navigation></app-subtoolbar-navigation>
                <p-divider layout="vertical"></p-divider>
                <app-subtoolbar-refactoring></app-subtoolbar-refactoring>
            </div>

            <div *ngIf="this.session.isTeam()" class="tool-buttons">
                <app-subtoolbar-architecture></app-subtoolbar-architecture>
                <p-divider layout="vertical"></p-divider>
                <app-subtoolbar-undo></app-subtoolbar-undo>
                <p-divider layout="vertical"></p-divider>
                <app-subtoolbar-navigation></app-subtoolbar-navigation>
                <app-subtoolbar-inside-team-view></app-subtoolbar-inside-team-view>
                <p-divider layout="vertical"></p-divider>
                <app-subtoolbar-refactoring></app-subtoolbar-refactoring>
            </div>
        </div>


        <div class="ui-toolbar-group-end" style="flex-grow: 0;">
            <p-avatar [label]="getAvatarLetter()" [pTooltip]="getTooltipText()" showDelay="1000" tooltipPosition="bottom" styleClass="mr-2" shape="circle" (click)="sessionMenu.toggle($event)"></p-avatar>
            <p-menu #sessionMenu [model]="sessionMenuItems" [popup]="true"></p-menu>
        </div>

    </p-toolbar>

</div>

