<div>

    <p-toolbar>
        <div class="ui-toolbar-group-start">
            
            <p-button styleClass="app-title" [disabled]="true">microFreshener</p-button>

            <p-splitButton *ngIf="!renaming" [label]="modelName" class="file-name" styleClass="file-name-button" (onClick)="editName()" [model]="filemenu"></p-splitButton>
            <input #renameInput *ngIf="renaming" type="text" class="file-name file-name-input" pInputText [(ngModel)]="modelName" (focusout)="rename()">

        </div>

        <div class="ui-toolbar-group-end">
            <p-avatar [label]="getAvatarLetter()" [pTooltip]="getTooltipText()" showDelay="1000" tooltipPosition="bottom" styleClass="mr-2" shape="circle"></p-avatar>
            <p-button icon="pi pi-times" styleClass="p-button-rounded p-button-text" (click)="this.session.logout()" [routerLink]="''"></p-button>
        </div>
    </p-toolbar>

    <p-toolbar *ngIf="this.session.isAdmin()">
        <div class="ui-toolbar-group-start tool-buttons">
            <app-subtoolbar-view></app-subtoolbar-view>
            <p-divider layout="vertical"></p-divider>
            <app-subtoolbar-architecture></app-subtoolbar-architecture>
            <p-divider layout="vertical"></p-divider>
            <app-subtoolbar-teams></app-subtoolbar-teams>
            <p-divider layout="vertical"></p-divider>
            <app-subtoolbar-undo></app-subtoolbar-undo>
            <p-divider layout="vertical"></p-divider>
            <app-subtoolbar-navigation></app-subtoolbar-navigation>
            <p-divider layout="vertical"></p-divider>
            <app-subtoolbar-refactoring></app-subtoolbar-refactoring>
        </div>
    </p-toolbar>

    <p-toolbar *ngIf="this.session.isTeam()">
        <div class="ui-toolbar-group-start tool-buttons">
            <app-subtoolbar-architecture></app-subtoolbar-architecture>
            <p-divider layout="vertical"></p-divider>
            <app-subtoolbar-undo></app-subtoolbar-undo>
            <p-divider layout="vertical"></p-divider>
            <app-subtoolbar-navigation></app-subtoolbar-navigation>
            <p-divider layout="vertical"></p-divider>
            <app-subtoolbar-refactoring></app-subtoolbar-refactoring>
        </div>
    </p-toolbar>

</div>

