.app-title {
    font-weight: bold;
}

.file-name {
    margin-left: 0.6em;
}

::ng-deep .p-toolbar {
    border: 0;
}

.file-button {
    margin-left: 0.6em;
}

.tool-buttons {
    padding: 0.2em;
    background-color: white;
    width: 100%;
    display: flex;
    border-radius: 15px;
    padding-left: 15px;
    vertical-align: middle;
}