<div class="p-grid p-justify-center">
  <div class="p-col-5">
      <p-card header="Kubernetes" subheader="Upload Kubernetes files">
          <p-header>
              <img src="Card" style="max-width:50%;" class="center"  src="assets/images/orchestrator/kubernetes.png">
          </p-header>
        <p-footer>
            <p-fileUpload mode="basic"
            name="kubernetes"
            [url]="urlRefineKubernetes"
            accept=".yml"
            (onUpload)="onUploadKubernetes()"
            chooseLabel="Import">
          </p-fileUpload>
        </p-footer>
      </p-card>
  </div>
  <div class="p-col-5">
      <p-card header="Istio" subheader="Upload Istio files" >
        <p-header>
            <img src="Card" style="max-width:33%;" class="center" src="assets/images/orchestrator/istio.png">
        </p-header>
        <p-footer>
            <p-fileUpload mode="basic"
            name="istio"
            [url]="urlRefineIstio"
            accept=".yml"
            (onUpload)="onUploadIstio($event)"
            chooseLabel="Import">x
          </p-fileUpload>
        </p-footer>
      </p-card>
  </div>
</div>