<div class="p-grid p-justify-center p-align-center vertical-container">
    <div class="p-col-2">
        <h3>Node:</h3>
    </div>
    <div class="p-col-8">
        <p>{{jointNodeModel.getName()}}</p>
    </div>
</div>


<div class="p-grid p-justify-center p-align-center vertical-container">
    <div class="p-col-2">
        <h3>Smell:</h3>
    </div>
    <div class="p-col-8">
        <p>{{smell.name}}</p>
    </div>
</div>

<div class="p-grid p-justify-center p-align-center vertical-container">
    <div class="p-col-2">
        <h3>Description:</h3>
    </div>
    <div class="p-col-8">
        <textarea pInputTextarea> {{smell.getDescription()}}</textarea>
    </div>
</div>

<hr>

<div class="p-grid p-justify-center p-align-center vertical-container">
    <div class="p-col-2">
        <h3>Action:</h3>
    </div>
    <div class="p-col-8">
        <p-dropdown [options]="actions" placeholder="Select an action" [(ngModel)]="selectedCommand"></p-dropdown>
    </div>
</div>
<div class="p-grid p-justify-center p-align-center vertical-container">
    <div class="p-col-2">
        <h3>Description:</h3>
    </div>
    <div class="p-col-8">
        <textarea *ngIf="selectedCommand" pInputTextarea> {{selectedCommand.getDescription() || 'none'}}</textarea>
    </div>
</div>

<div class="p-grid p-justify-end">
    <button class="p-col-2" type="button" pButton (click)="save()" label="Save" class="ui-button-success">
    </button>
</div>