<div class="p-grid p-justify-center">
  <div class="p-col-10">
    <p-selectButton [options]="containerOrchestrators"
      (onChange)="orchestratorSelect($event)"
      [(ngModel)]="selectedOrchestrator" optionLabel="name">
      <ng-template let-item>
        <div style="padding: .5em 1em">
          <img style="vertical-align: middle; margin-right: .5em"
            src="assets/images/orchestrator/{{item.img}}" *ngIf="item.img"
            height="40px" />
          <span>{{item.name}}</span>
        </div>
      </ng-template>
    </p-selectButton>
  </div>
</div>


<!-- <div>Selected Orchetrator: {{selectedOrchestrator.name}}</div> -->

<div class="p-grid">
  <div class="p-col-6" *ngFor="let principle of principles">
    <p-card header="{{principle.name}}" [style]="{width: '500px'}"
      styleClass="ui-card-shadow">
      <div *ngFor="let smell of principle.smells">
        <p-checkbox name="group2" [value]="smell" label="{{smell.name}}"
          [(ngModel)]="selectedSmells" inputId="{{smell.name}}">
        </p-checkbox>
      </div>
    </p-card>
  </div>
</div>

<div class="p-grid p-justify-end">
  <button class="p-col-2" type="button" pButton (click)="save()" label="Save"
    class="ui-button-success">
  </button>
</div>
