<!-- <h3 class="first">Select team to visualize</h3>

<p-dropdown [options]="teams" [(ngModel)]="selectedTeam" [style]="{'width':'150px'}">
    <ng-template let-item pTemplate="selectedItem"> 
        <span style="vertical-align:middle">{{item.getName()}}</span>
    </ng-template> 
    <ng-template let-team pTemplate="item"> 
        <div class="ui-helper-clearfix" style="position: relative;height:25px;">
        <div style="font-size:14px;float:right;margin-top:4px">{{team.getName()}}</div> </div>
    </ng-template>
</p-dropdown>

<button pButton type="button" label="Click" (click)="visualizeTeam()"></button> -->

<h2>Teams:</h2>
<ul class="heroes">
    <li (click)="onSelectAll()">
      <span class="badge">All</span> 
    </li>
    <li (click)="onSelectCompactAll()">
            <span class="badge">compactAll</span> 
          </li>
    <li *ngFor="let team of teams"
      (click)="onSelectTeam(team)">
      <span class="badge">{{team.getName()}} </span> 
    </li>
  </ul>

  <!-- <div class="p-grid" style="margin-top: .5em">
      <div class="p-col" *ngFor="let team of teams; let i=index" [@animation]="'visible'">
          <span class="badge">{{team.getName()}} </span> 
      </div>
  </div> -->



<!-- <h3>Advanced (Multiple, Checkbox and Filter)</h3>
<p-listbox [options]="teams" [(ngModel)]="selectedTeams" multiple="multiple" checkbox="checkbox" filter="filter" optionLabel="name">
  <p-header>
    <i class="fa fa-car"></i>
    Cars
  </p-header>
</p-listbox>
<p>Selected Cities: <span *ngFor="let c of selectedTeams" style="margin-right: 10px">{{c.name}}</span></p> -->