<p-dialog
    [(visible)]="visible"
    [modal]="true"
    [closable]="true"
    [showHeader]="false"
    [blockScroll]="true"
    [draggable]="false"
    [resizable]="false"
    >

    <div class=".welcome-dialog">


        <div class="welcome-dialog-close"><p-button icon="pi pi-times" aria-label="Close" styleClass="p-button-rounded p-button-text" (onClick)="close()"></p-button></div>

        <div class="welcome-dialog-content flex justify-content-center flex-wrap gap-3 mb-4">
            <h1>Welcome to microFreshener</h1>
        </div>

        <div class="flex justify-content-center flex-wrap gap-3 mb-4">
            <p-button class="welcome-dialog-button" styleClass="p-button-outlined" icon="pi pi-plus" label="New file" (onClick)="new()"></p-button> <p-button class="welcome-dialog-button" styleClass="p-button-outlined" icon="pi pi-download" label="Import file" (onClick)="import()"></p-button>
        </div>

    </div>
    
</p-dialog>