.welcome-dialog {
    width: 50vw;
    height: 50vh;
    justify-content: center;
}

.welcome-dialog-close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    margin-top: 1vh;
    margin-right: 1vh;
}

.welcome-dialog-button {
    width: 5vw;
    height: 5vh;
}
