

<div class="p-grid p-justify-center">
    <div class="p-col-4">
        <div class="box"><h3>
            Ading link {{source.getName()}}  to {{target.getName()}}.
          </h3></div>
    </div>
</div>
<div class="p-grid p-justify-center">
    <div class="p-col-2">
        <div class="box">With Circuit breaker </div>
    </div>
    <div class="p-col-1">
      <div class="box"><p-inputSwitch [(ngModel)]="circuit_breaker"></p-inputSwitch></div>
    </div>
</div>

<div class="p-grid p-justify-center">
    <div class="p-col-2">
        <div class="box">With dynamic discovery </div>
    </div>
    <div class="p-col-1">
        <div class="box"><p-inputSwitch [(ngModel)]="dynamic_discovery"></p-inputSwitch></div>
    </div>
</div>

<div class="p-grid p-justify-center">
    <div class="p-col-2">
        <div class="box">With timeout </div>
    </div>
    <div class="p-col-1">
        <div class="box"><p-inputSwitch [(ngModel)]="tiemout"></p-inputSwitch></div>
    </div>
</div>

<div class="p-grid p-justify-end">
    <p-button label="Save" icon="pi pi-save" (onClick)="save()"></p-button>
</div>