<div class="p-grid p-justify-center">
        <div class="p-md-4">
            <h3> Source Node</h3>
            <p-dropdown [options]="nodes"  placeholder="Select a node" [(ngModel)]="selectedSourceNode" optionLabel="attributes.attrs.label.text"></p-dropdown>
        </div>
        <div class="p-md-4">
            <h3> Target Node</h3>
            <p-dropdown [options]="nodes"  placeholder="Select a node" [(ngModel)]="selectedTargetNode" optionLabel="attributes.attrs.label.text"></p-dropdown>
        </div>
</div>


<div class="p-grid p-justify-end">
    <p-button label="Save"  icon="pi pi-save" (onClick)="selectedNodes(selectedSourceNode, selectedTargetNode)"></p-button>
</div>
