<div class="p-grid sample-layout">

    <div class="p-col-12">
         <p-toolbar>
            <div class="ui-toolbar-group-left">
                <h1>{{title}}</h1>
            </div>
        </p-toolbar> 
        
    </div>

    <!-- show the messages in a toast: MessageService.add(Message) -->
    <p-toast [style]="{marginTop: '100px'}"  position="top-right"></p-toast>

    <div class="p-col-12">
        <app-menu></app-menu>
        <app-graph-editor ></app-graph-editor> 
    </div>
   
    <!-- footer (for logo) -->
    <div class="p-col-12">
        <!-- <button pButton type="button" (click)="display = true" icon="pi pi-arrow-right"></button> -->
    </div>
</div> 

