<div class="p-grid sample-layout">

    <!-- menu div -->
    <div class="p-col-12">
         <p-toolbar>
            <div class="ui-toolbar-group-left">
                <h1>{{title}}</h1>
            </div>

            <div class="ui-toolbar-group-right" style="padding-top: 30px">
                <div class="p-grid p-align-stretch vertical-container">
                        <p-splitButton label="Load examples" [model]="examples"></p-splitButton>
                        
                        <p-splitButton  icon="pi pi-sitemap" label="Layout" (onClick)="chooseRandomLayout()" [model]="layouts"></p-splitButton>
                        
                        <button pButton icon="pi pi-eye" type="button" style="font-size:
                        1em"
                        label="View" class="ui-button-primary" (click)="selectTeam()"></button>

                        <button pButton type="button" label="Refine" (click)="refine()" icon="pi pi-refresh"></button>

                        <button pButton type="button" label="Analyse" (click)="analyse()" icon="pi pi-search"></button>
                        
                        <button cslass="ui-button-primary" label="Save" pButton type="button" (click)="save()" icon="pi pi-save"></button>
                            
                        <a pButton [attr.href]="hrefDownload" label="Export" icon="pi pi-download" class="ui-button-info"></a>

                        <p-fileUpload mode="basic" 
                                    name="graph"
                                    [url]="urlUpload" 
                                    accept=".yml"
                                    (onUpload)="onUpload($event)"
                                    chooseLabel="Import">
                        </p-fileUpload>

                    <p-menu #menu [popup]="true" [model]="items"></p-menu>

                    <button type="button" style="padding-left: 30px" class="ui-button-raised ui-button-secondary" pButton icon="pi pi-user" (click)="menu.toggle($event)">
                    </button>
                </div>
            </div>
        </p-toolbar>
        
    </div>

    <!-- show the messages in a toast: MessageService.add(Message) -->
    <p-toast [style]="{marginTop: '100px'}"  position="top-right"></p-toast>


    <div class="p-col-12">
        <app-graph-editor ></app-graph-editor> 
    </div>
   
    <!-- footer (for logo) -->
    <div class="p-col-12">
        <!-- <button pButton type="button" (click)="display = true" icon="pi pi-arrow-right"></button> -->
    </div>
</div> 

