<div class="p-grid sample-layout">

    <!-- menu div -->
    <div class="p-col-12">
         <p-toolbar>
            <div class="ui-toolbar-group-left">
                <h1>{{title}}</h1>
            </div>

            <div class="ui-toolbar-group-right" >
            <div class="content-section implementation">
                <p-splitButton label="Load examples"   [model]="examples"></p-splitButton>
                
                <p-splitButton  icon="pi pi-sitemap" [model]="layouts"></p-splitButton>

                <button pButton type="button" (click)="analyse()" icon="pi pi-search"></button>
                
                <button cslass="ui-button-primary" pButton type="button" (click)="upload()" icon="pi pi-save"></button>
                
                <a pButton [attr.href]="hrefDownload" icon="pi pi-download" class="ui-button-info"></a>

                <p-fileUpload mode="basic" 
                            name="graph"
                            url="http://127.0.0.1:8000/api/import" 
                            accept=".yml"
                            (onUpload)="onUpload($event)"
                            chooseLabel="Import">
                </p-fileUpload>
                
                 <!-- pop up menu -->
                <p-menu #menu [popup]="true" [model]="items"></p-menu>

                <button type="button"  class="ui-button-raised ui-button-secondary" pButton icon="pi pi-user" (click)="menu.toggle($event)">
                </button>
            </div>

            </div>
        </p-toolbar>
      
    </div>

    <!-- show the messages in a toast: MessageService.add(Message) -->
    <p-toast [style]="{marginTop: '100px'}"  position="top-right"></p-toast>


    <div class="p-col-12">
        <app-graph-editor ></app-graph-editor> 
    </div>
   
    <!-- footer (for logo) -->
    <div class="p-col-12">
        <!-- <button pButton type="button" (click)="display = true" icon="pi pi-arrow-right"></button> -->
    </div>
</div> 

