attrs==19.1.0
Babel==2.7.0
certifi==2019.6.16
chardet==3.0.4
cliff==2.15.0
cmd2==0.9.16
colorama==0.4.1
coreapi==2.3.3
coreschema==0.0.4
Django==2.2.4
django-cors-headers==3.1.0
django-rest-swagger==2.2.0
djangorestframework==3.10.2
idna==2.8
itypes==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
microfreshener-core==1.4.0
nested-lookup==0.2.19
openapi-codec==1.3.2
pbr==5.4.2
prettytable==0.7.2
pyparsing==2.4.2
pyperclip==1.7.0
python-dateutil==2.8.0
pytz==2019.2
PyYAML==5.1.2
requests==2.22.0
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.1.2
simplejson==3.16.0
six==1.12.0
sqlparse==0.3.0
stevedore==1.30.1
tosca-parser==1.5.0
uritemplate==3.0.0
urllib3==1.26.5
wcwidth==0.1.7
