
<svg:g width="10" height="10" [ngSwitch]="link.type">
        <svg:defs>
                <svg:marker id="markerArrow" viewBox="0 -5 10 10"
                        refX="6" 
                        markerUnits="strokeWidth"
                        markerWidth="3" markerHeight="3"
                        orient="auto">
                <svg:path d="M0,-5L10,0L0,5" fill="#000000"/>
                </svg:marker>
        </svg:defs>
        <svg:path *ngSwitchCase="'runtime'" 
                class="link-style"
                fill="transparent"
                [attr.d]=getDAttributeRuntime()
                marker-end="url(#markerArrow)">
        </svg:path>
        <svg:path *ngSwitchCase="'deploymenttime'" 
                class="link-style"
                stroke-dasharray="5,5" 
                fill="transparent"
                [attr.d]=getDAttributeDeployement()
                marker-end="url(#markerArrow)">
        </svg:path>

</svg:g>
