
<p-accordion [multiple]="true">
    <!-- Editor tab -->
    <p-accordionTab header="Editor">
      <app-menu-edit> 
        
      </app-menu-edit>
    </p-accordionTab>

    <!-- Analyser tab -->
    <p-accordionTab header="Analyser">
      <h3>Principles to analyse</h3>
      <div class="ui-g" style="width:250px;margin-bottom:10px">
          <div class="ui-g-12"  *ngFor="let principle of principles" >
            <p-checkbox name="group2" [value]="principle" label="{{principle.name}}" [(ngModel)]="selectedPrinciples" inputId="{{principle.value}}">
            </p-checkbox>
          </div>
      </div>

      <div class="p-grid p-justify-end">
        <button class="p-col-2" type="button" pButton (click)="analyse()" label="Analyse" class="ui-button-warning">
        </button>
      </div>


      <h3>Results of the analysis</h3>
      <span *ngIf="nodes.length === 0" style="color:rgb(179, 15, 15)"> No results available </span>
      <p-tree *ngIf="nodes.length > 0" 
              [value]="nodes"  
              selectionMode="checkbox"
              (onNodeUnselect)="nodeUnSelect($event)"  
              (onNodeSelect)="nodeSelect($event)" 
              [propagateSelectionUp]="false" 
              [propagateSelectionDown]="true"
              [loading]="loading">
              <ng-template let-node  pTemplate="principle">
                  <span> {{node.label}} </span><i class="pi pi-times" style="color:red"></i> 
              </ng-template>
              <ng-template let-node  pTemplate="ok">
                 <span style="color:green">{{node.label}}  </span> <i class="pi pi-check" style="color:green"></i>
              </ng-template>
              <ng-template let-node  pTemplate="nok">
                <span style="color:red"> {{node.label}} </span><i class="pi pi-times" style="color:red"></i> 
             </ng-template>
    </p-tree>

   </p-accordionTab>

   <!-- refactor tab -->
    <p-accordionTab header="Refactor">
      <h3>Apply the refactorings</h3>
    </p-accordionTab>
</p-accordion>