
<p-accordion [multiple]="true">
    <p-accordionTab header="Edit">
      <app-menu-edit> 
        
      </app-menu-edit>
    </p-accordionTab>

    <p-accordionTab header="Analyse">
      <h3>Principles to analyse</h3>
      <div class="ui-g" style="width:250px;margin-bottom:10px">
          <div class="ui-g-12"  *ngFor="let principle of principles" >
            <p-checkbox name="group2" value="{{principle}}" label="{{principle}}" [(ngModel)]="selectedPrinciples" inputId="{{principle}}">
            </p-checkbox></div>
      </div>
      <button type="button" pButton (click)="analyse()" label="Analyse" class="ui-button-warning"></button>

   </p-accordionTab>

    <p-accordionTab header="Refactor">

        <ul >
            <li *ngFor="let node of gs.graph.nodes">
              <span class="badge">{{node.name}}</span> 
                <ul >
                <li *ngFor="let principle of node.principles">
                  <span class="badge">{{principle.name}}</span> 
                    <ul >
                      <li *ngFor="let antipattern of principle.antipatterns">
                        <span class="badge">{{antipattern.name}}</span> 
                      </li>
                    </ul>
                </li>
              </ul>

            </li>
          </ul>
    </p-accordionTab>
</p-accordion>