<p-sidebar [visible]="visible" position="right" [modal]="false" [showCloseIcon]="false">
    <p-scrollPanel [style]="{ width: '100%', height: '80vh' }">
        <div *ngIf="smell">
            <div class="p-grid p-justify-center p-align-center vertical-container">
                <div class="p-col-2">
                    <h1>Found {{smell?.name}} on {{jointNodeModel?.getName()}}</h1>
                    <br/>
                    <p>{{smell?.getDescription()}}</p>
                </div>
            </div>

            <div class="p-grid p-justify-center p-align-center vertical-container">
                <div class="p-col-2">
                    <h3>Refactor</h3>
                    <p-dropdown appendTo="body" [options]="actions" placeholder="Select an action" [(ngModel)]="selectedCommand"></p-dropdown>
                    <p *ngIf="selectedCommand"> {{selectedCommand?.getDescription() || 'none'}}</p>
                    <button *ngIf="selectedCommand" pButton type="button" label="Apply" (click)="apply()"></button>
                </div>
            </div>

            <div class="p-grid p-justify-end">
            </div>
        </div>

    </p-scrollPanel>
</p-sidebar>