
.service {
    fill:rgb(224, 221, 12);
    stroke-width:3;
    stroke:rgb(0,0,0);
}

.database {
    fill:rgb(0,0,255);
    stroke-width:3;
    stroke:rgb(0,0,0);
}
.communicationpattern {
    fill:rgb(233, 59, 16);
    stroke-width:3;
    stroke:rgb(0,0,0);

}
.node-name {
  font-family: 'Lato';
  text-anchor: middle;
  alignment-baseline: central;
  font-weight: 300;
  fill: white;
}