
.service {
    fill:#065143;
}

.database {
    fill:#4E7F64;
}

.communicationpattern {
    fill:#97CAA1;
}

.node-name {
  font-family: 'Lato';
  text-anchor: middle;
  alignment-baseline: central;
  font-weight: 300;
  fill: #3C493F; 
  /* #031926 */
}

.antippaterns {
    fill:rgb(233, 16, 16);
    stroke:rgb(0, 0, 0);
    stroke-width:1;
}