

<svg:g width="10" height="10" [ngSwitch]="node.type">
    <svg:circle *ngSwitchCase="'service'" 
        class="service"
        [attr.cx]="node.x"
        [attr.cy]="node.y"
        [attr.r]="node.raggio">
    </svg:circle>
    <text [attr.x]="node.x" [attr.y]="node.y"  font-family="Verdana" font-size="15" fill="black">{{node.name}}</text>
    <svg:rect *ngSwitchCase="'database'" 
          class="database"
        [attr.x]="node.x"
        [attr.y]="node.y"
        width="30" 
        height="30" 
        >
    </svg:rect>
    <svg:rect *ngSwitchCase="'communicationpattern'" 
        class="communicationpattern"
        [attr.x]="node.x"
        [attr.y]="node.y"
        width="30" 
        height="30">
        <!-- transform="rotate(45)"> -->
    </svg:rect>

    <g [linkVisual]="l" 
        *ngFor="let l of node.getRunTimeLinks()"
        (click)="onSelectedLink(l)">
    </g> 

    <g [linkVisual]="l" 
        *ngFor="let l of node.getDeploymentLinks()"
        (click)="onSelectedLink(l)">
    </g> 
</svg:g>
<svg:g>

    <svg:rect  *ngFor="let ant of node.getViolatedPrinciples(); let i = index"
        class="antippaterns"
        [attr.x]="node.x + 20 + (i*10) "
        [attr.y]="node.y + 20"
        width="8" 
        height="8"
        (click)="onSelectedAntipattern(ant)">
        >
    </svg:rect>
</svg:g> 
