<div class="p-grid p-justify-center">
    <div class="p-col-10">
        <div class="content-section implementation">
            <span>Name:</span>
            <input type="text" pInputText placeholder="Name" [(ngModel)]="name">
            <button pButton type="button" icon="pi pi-check"
                (click)="saveName()"
                class="ui-button-success">
            </button>
            <button pButton icon="pi pi-plus" type="button" style="font-size:
                1em"
                label="Node" class="ui-button-success" (click)="addNode()"></button>
            <button pButton icon="pi pi-plus" type="button" style="font-size:
                1em"
                label="sTeam" class="ui-button-success" (click)="addTeam()"></button>
        </div>
    </div>
</div>


<!-- jointjs div where the graph is rendered -->
<div id="jointjsgraph"> </div>

<!-- cconfirm dialog when removing a node -->
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
